#hero {
  height: 236px;
  background-image: url("./assets//hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 0;
}

#hero-container {
  z-index: 1;
  position: relative;
  padding: 14px 18px 15px 18px;
}

#hero-container #bottom h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}

#hero-container #bottom p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 992px) {
  #hero {
    height: 440px !important;
  }
  #hero-container {
    padding: 80px 110px 80px 110px;
  }
  #hero-container #bottom h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #ffffff;
  }

  #hero-container #bottom p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
  }
}
