/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif !important;
}

button {
  font-weight: 500 !important;
}

.share-icon {
  margin-right: 6.25px;
}

.post-excerpt {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #495057;
}

.post-bottom {
  margin-top: 22px;
}
